*{
    margin:0;
}
body{
    font:100% normal arial, helvetica, sans-serif;
}

form,input,select,textarea{
    margin:0;
    padding:0;
    color:white;
   
}

div.form h1{
    text-align: center;
    color:white;
    font-size:24px;
    padding:5px 0px 5px 5px;
    border: 1px solid #161712
}

div.form{
    padding:8px;
    margin:0;
    width: 450px;
    background: #3d3939;
    position: relative;
    top: 40px;
    border: 3px solid #262626;
    border-radius: 10px;
}

div.form .wpis{
    padding: 10px 10px;
    width: 180px;
    background: #262626;
    border: 1px double #171717;
}
div.form .product{
    padding: 10px 10px;
    width: 180px;
    background: #262626;
    border: 1px double #171717;
}
div.form .amount{
    padding: 10px 10px;
    width: 180px;
    background: #262626;
    border: 1px double #171717;
}
div.form .message{
    padding: 10px 10px;
    width: 180px;
    background: #262626;
    border: 1px double #171717;
}
div.form .submit{
    width: 80px;
    background: #262626;
    border: 1px double #171717;
}