<html>
  <form #form="ngForm">
    <div class="form">
        <h1>Orders: </h1>
        <label>
          <span>First and Last name</span>
          <input type="text" class="wpis" id="names" [(ngModel)]="names" name="names" required #namesForm="ngModel">
          <div class="alert" *ngIf="namesForm.invalid && namesForm.touched">You have to put in your name!</div>
        </label>
        <br><br>
        <label>
          <span>Email:</span>
          <input type="test" class="wpis" id="email" [(ngModel)]="email" name="email"  required pattern=".+@.+"#emailForm="ngModel">
          <div class="alert" *ngIf="emailForm.touched && emailForm.errors?.['pattern']">This is not an email</div>
        </label>
        <br><br>
        <label>
          <span>Product:</span>
          <select id="product" class="product" [(ngModel)]="product" name="product">
              <option value="pralka">pralka</option>
              <option value="telewizor">telewizor</option>
              <option value="lodowka">lodowka</option>
              <option value="laptop">laptop</option>
          </select>
        </label>
        <br><br>
        <label>
          <span>amount: </span>
          <input type="number" name="amount" id="amount" class="amount" [(ngModel)]="amount" min="1">
        </label>
        <br><br>
        <label>
          <span>Message: </span><br>
          <textarea class="message" name="message" id="message" [(ngModel)]="message"></textarea>
        </label>
        <br><br>
        <label>
          <input type="submit" value="submit" id="submit" name="submit" class="submit" [disabled]="!form.form.valid">
          <input type="button" class="reset" style="background-color: red" value="reset" id="reset" name="reset" (click)="form.resetForm()">
        </label>
    </div>
  </form> 
</html>
